/* ------------------- GRILLA GRAL ------------------- */

.body_index{
    display: grid;
    grid-template-rows: 0.5fr 6fr 0.5fr;
    grid-template-areas: "header" "main" "footer";
}

/* ------------------- GRILLA ENVIOS ------------------- */

.main_envios{
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-template-areas:
    "titulo"
    "contenido_1" 
    "contenido_2"
    ;

    row-gap: 0.5rem;
}