header{
    background-color: #BEDCDA;

    display: grid;
    grid-template-columns: 0.5fr 3.5fr 0.5fr;
    grid-template-areas: "logo contenido nada";

    .search_botones{
        grid-area: contenido;
    
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "search" "botones";
        justify-self: center;

        .search{
            text-align: center;
            grid-area: search;
        
            display: flex;
            align-items: center;
            justify-self: center;

            .boton_search{
                background-color: #353535;
                color: #F1F2ED;
                margin-left: 1rem;
                border-radius: 3px;
                padding: 2px;
            }
        }
    }

    .contenedor_logo{
        grid-area: logo;
    
        display: flex;
        justify-content: center;
        align-items: center;


        .logo-diatoland{
            height: 110px;
            margin-top: 0.5rem;
        }
    }

}





