nav{
    grid-area: botones;
    display: flex;
    align-items: center;

    ul{
        list-style-type: none;

        li{
            display:inline-block;
            text-align:center;
        
            padding: 0.5rem;

            a{
                color: #F1F2ED;
                background-color: #353535;
            
                font-size: 1rem;
                padding: 6px;
                text-decoration:none;
            
                border-radius: 5px;
            }
        }      
    }
}








