body{
    font-family: Helvetica, Arial, sans-serif;
    color: #353535;
}

h2{
    font-size: 1.6rem;

    display: flex;
    justify-content: left;
    padding-top: 2rem;
    margin-left: 4rem;
    margin-bottom: 1rem;

    grid-area: titulo;
}

h3{
    font-size: 1.25rem;
}

p{
    font-size: 1rem;
    text-align: left;

    margin-top: 1rem;
}

.caja_centrada{
    margin-bottom: 2rem;
    background-color:$color-cards;
    margin-left: 4rem;
    margin-right: 4rem;

    border-radius: 15px;
}

.subt_centrado{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
