* {
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 1rem;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #353535;
}

h2 {
  font-size: 1.6rem;
  display: flex;
  justify-content: left;
  padding-top: 2rem;
  margin-left: 4rem;
  margin-bottom: 1rem;
  grid-area: titulo;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
  text-align: left;
  margin-top: 1rem;
}

.caja_centrada {
  margin-bottom: 2rem;
  background-color: #FCF6E8;
  margin-left: 4rem;
  margin-right: 4rem;
  border-radius: 15px;
}

.subt_centrado {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* ------------------- GRILLA GRAL ------------------- */
.body_index {
  display: grid;
  grid-template-rows: 0.5fr 6fr 0.5fr;
  grid-template-areas: "header" "main" "footer";
}

/* ------------------- GRILLA ENVIOS ------------------- */
.main_envios {
  display: grid;
  grid-template-rows: 0.5fr 1fr 1fr;
  grid-template-areas: "titulo" "contenido_1" "contenido_2";
  row-gap: 0.5rem;
}

header {
  background-color: #BEDCDA;
  display: grid;
  grid-template-columns: 0.5fr 3.5fr 0.5fr;
  grid-template-areas: "logo contenido nada";
}
header .search_botones {
  grid-area: contenido;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "search" "botones";
  justify-self: center;
}
header .search_botones .search {
  text-align: center;
  grid-area: search;
  display: flex;
  align-items: center;
  justify-self: center;
}
header .search_botones .search .boton_search {
  background-color: #353535;
  color: #F1F2ED;
  margin-left: 1rem;
  border-radius: 3px;
  padding: 2px;
}
header .contenedor_logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .contenedor_logo .logo-diatoland {
  height: 110px;
  margin-top: 0.5rem;
}

nav {
  grid-area: botones;
  display: flex;
  align-items: center;
}
nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  text-align: center;
  padding: 0.5rem;
}
nav ul li a {
  color: #F1F2ED;
  background-color: #353535;
  font-size: 1rem;
  padding: 6px;
  text-decoration: none;
  border-radius: 5px;
}

/* ------------------- FOOTER ------------------- */
footer {
  background-color: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer div {
  display: inline-block;
  padding: 1rem;
  margin: 1rem;
  text-align: left;
}
footer div .op_footer {
  background-color: #353535;
  color: #DFF2F1;
  font-size: 0.9rem;
  text-decoration: none;
}
footer div input {
  background-color: #DFF2F1;
  color: #353535;
  margin-top: 0.5rem;
  padding: 0.1rem;
  border-radius: 5px;
  display: flex;
}

.correo {
  grid-area: contenido_1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.correo .metodo_correo {
  margin-left: 8rem;
  margin-right: 8rem;
  padding-top: 1rem;
  margin-bottom: 2rem;
}
.correo .metodo_correo p {
  text-align: center;
}

.retiro {
  grid-area: contenido_2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.retiro .metodo_retiro {
  margin-left: 10rem;
  margin-right: 10rem;
  padding-top: 1rem;
  margin-bottom: 2rem;
}
.retiro .metodo_retiro p {
  text-align: center;
}

/*# sourceMappingURL=style_sass.css.map */
